# Google Developer Account Identity Verification

***

We will inform you about the identity verification required to register for a Google developer account.

When the Google developer account registration fee is paid, a message window will appear stating that the developer account creation is complete.

Most of the time, you only see that message, and then you exit the site.

However, the work is not yet completed, and you need to go to the console and complete 'Identity Verification' to complete the final registration \~!

Check the manual to see how to verify your Google developer account.

{% hint style="info" %}
Identity verification is not required for everyone when registering for a Google developer account.

Identity verification varies from user to user, such as when you have an organizational (business) account, when you need to verify your identity, or when you first register for an account.

Therefore, if you do not verify your identity when registering an account, you may not be able to register the app immediately.
{% endhint %}

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D0.png" alt=""><figcaption></figcaption></figure>

In most cases, you only see the completion message that the account has been created, and then close the site.

Don't end here! Click on the <mark style="color:blue;">**\[Go to Play Console]**</mark> button.

## **STEP1.** Identity verification

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D2.png" alt=""><figcaption></figcaption></figure>

When the button is selected,

You will be taken to the Google Play console page, and you will see a message that says you need to verify your identity, as shown in the image above.

Please select \*\*\[Verify your identity]\*\*.

***

## **STEP2.** Identity verification process

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D3.png" alt=""><figcaption></figcaption></figure>

The first thing you will do is verify your identity.

1\. Enter your name, and resident registration number, select a carrier, and register your contact number (mobile phone number) to be authenticated.

2\. Enter the address.

Enter your residential address, and select South Korea for the Country/Region.

3\. Click on the Submit button.

{% hint style="danger" %}
**\***_**Caution**_**\***

It is important to note here that if you enter an address different from the address entered in your Google developer account, authentication may not be performed.

For example, in the developer account input, you enter the country as "United States", but enter the identity verification address as "South Korea".

If the countries entered are different, Google will not process identity verification. \_This policy is to prevent illegal copying of accounts such as ghost accounts.

Therefore, please enter the same country and address.
{% endhint %}

***

## **STEP3.** Enter your Verification Code Number (OTP)

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D4.png" alt=""><figcaption></figcaption></figure>

As the last authentication, a verification code (code) is sent to the mobile phone number entered by the user.

Enter the 6-digit code sent to you and press the \[Confirm] button.

***

## **STEP4.** Verification complete

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D5.png" alt=""><figcaption></figcaption></figure>

Once the OTP code registration is completed, all identity verification is completed.

***

## **STEP5.** Complete – console available

<figure><img src="https://wp.swing2app.co.kr/wp-content/uploads/2023/02/%EA%B5%AC%EA%B8%80%EB%B3%B8%EC%9D%B8%EC%9D%B8%EC%A6%9D6.png" alt=""><figcaption></figcaption></figure>

Play console access is now available.

You must complete identity verification before you can register the app.

If identity verification is not completed, you will not be able to register the app even if the console is created.

Therefore, after confirming the message that the developer account registration is complete, be sure to go to the Play Console and check if all the tasks you need to do are completed.

In some cases, you may not be prompted to verify your identity.
